<h1>Follow Friends</h1>
<% users.each do |user| %>
 
 <div class="box">
  	<article class="media">
  		<div class="media-left">
  			<figure class="image is-64x64">
  				<img src="https://bulma.io/images/placeholders/64x64.png">
  			</figure>
  		</div>
    <div id="<%= dom_id(user) %>">
      
      

        @<%= user.usename%><br>
        
            <% if user_signed_in?%>
            <% if user.usename != current_user.usename %>
                <%= link_to user_path(user), class: "level-item" do %>Profile
                <% end %>
            <% else %>
            <% end %>
            

            <% end %>
      

    </div>
    </article>
 </div>
<% end %>

