<p id="notice"><%= notice %></p>

<div class="media-content">
  			<div class="content">
  				<strong><%= current_user.name %></strong><br />
  				<small><%= current_user.usename %></small><br/>
  			</div>
</div>
<a href = "now_following">follow</a>

